<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My Skills Project</a>
    </div>
  </div>
</nav>
<div class="container">
	<div class="row">
		<div class="thumbnail col-sm-3" *ngFor="let item of items" style="height: 400px;">
			<img src="/assets/{{ item.url }}.png" width="400" height="400">
			<h4><b>SNO:</b> {{item.id}}  <br></h4>
			<h4><b>Name:</b> {{item.name}} <br></h4>
			<h4><b>Price:</b> {{item.price| currency:'INR':'symbol-narrow':'4.2-2'}} <br></h4>
			<button class="btn btn-primary">Show Details</button>
		</div>
	</div>
</div>