<!-- Toolbar -->
<div class="heading">
	<h1>Welcome to Project My Skills </h1>
</div>


<div class="row">
	<div class="col-md-4">
		<h2 class="items"> Item List</h2>
		<ul *ngFor="let i of items">
			<li class="item"><a herf="#" target="_blank">{{i.name}}</a></li>
		</ul>

		<button class="btn-primary" (click)="getData()">Get Data</button>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button class="btn-primary" (click)="clearData()">Clear Data</button>
	</div>
	<div class="col-md-8">
		<h2 class="items"> Item Details</h2>
		<img src="https://cdn.britannica.com/86/75886-050-B481C97E/Apricots.jpg" style="width: 750px;">
		<router-outlet></router-outlet>
	</div>
</div>